http_interactions:
- request:
    method: get
    uri: https://upwell.pfeg.noaa.gov/erddap/search/index.json?searchFor=temperature
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-disposition: attachment;filename=search.json
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "table": {
            "columnNames": ["griddap", "Subset", "tabledap", "Make A Graph", "wms", "files", "Accessible", "Title", "Summary", "FGDC", "ISO 19115", "Info", "Background Info", "RSS", "Email", "Institution", "Dataset ID"],
            "columnTypes": ["String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String"],
            "rows": [
              ["https://upwell.pfeg.noaa.gov/erddap/griddap/noaa_esrl_ff85_13e0_9b4c", "", "", "https://upwell.pfeg.noaa.gov/erddap/griddap/noaa_esrl_ff85_13e0_9b4c.graph", "https://upwell.pfeg.noaa.gov/erddap/wms/noaa_esrl_ff85_13e0_9b4c/request", "", "public", "CRU Combined Surface/Marine Air Temperature Climatology 1961-1990. (air.mon.ltm), 5.0\u00b0, 0001", "Climatic Research Unit (CRU) Combined Surface/Marine Air Temperature Climatology 1961-1990. (Top Dataset, ltm, air.mon.ltm)\n\ncdm_d[...]
