http_interactions:
- request:
    method: get
    uri: https://upwell.pfeg.noaa.gov/erddap/search/index.json?searchFor=temperature
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-disposition: attachment;filename=search.json
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "table": {
            "columnNames": ["griddap", "Subset", "tabledap", "Make A Graph", "wms", "files", "Accessible", "Title", "Summary", "FGDC", "ISO 19115", "Info", "Background Info", "RSS", "Email", "Institution", "Dataset ID"],
            "columnTypes": ["String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String"],
            "rows": [
              ["", "", "https://upwell.pfeg.noaa.gov/erddap/tabledap/hawaii_soest_490d_1198_15c1", "https://upwell.pfeg.noaa.gov/erddap/tabledap/hawaii_soest_490d_1198_15c1.graph", "", "", "public", "ALOHA Cabled Observatory (ACO): Acoustic Doppler Current Profiler (ADCP): Temperature", "The University of Hawaii's ALOHA (\"A Long-term Oligotrophic Habitat Assessment\") Cabled Observatory (ACO) is located 100 km north of the island of Oahu, Hawaii (22 45'N, 158W) in the North Pacific Ocean. It[...]
