http_interactions:
- request:
    method: get
    uri: https://bluehub.jrc.ec.europa.eu/erddap/search/index.json?searchFor=temperature
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-disposition: attachment;filename=search.json
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "table": {
            "columnNames": ["griddap", "Subset", "tabledap", "Make A Graph", "wms", "files", "Title", "Summary", "FGDC", "ISO 19115", "Info", "Background Info", "RSS", "Institution", "Dataset ID"],
            "columnTypes": ["String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String"],
            "rows": [
              ["https://bluehub.jrc.ec.europa.eu/erddap/griddap/axiomdatascience_908c_6215_85e6", "", "", "https://bluehub.jrc.ec.europa.eu/erddap/griddap/axiomdatascience_908c_6215_85e6.graph", "https://bluehub.jrc.ec.europa.eu/erddap/wms/axiomdatascience_908c_6215_85e6/request", "", "NCEP Reanalysis Daily Averages Surface Flux: Skin Temperature", "NCEP Reanalysis Daily Averages Surface Flux: Skin Temperature. The NCEP/NCAR Reanalysis 1 project is using a state-of-the-art analysis/forecast s[...]
- request:
    method: get
    uri: http://erddap.marine.ie/erddap/search/index.json?searchFor=temperature
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      content-disposition: attachment;filename=search.json
    body:
      encoding: UTF-8
      string: |
        {
 [...]
