http_interactions:
- request:
    method: get
    uri: https://erddap.marine.ie/erddap/search/index.json?searchFor=wave
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      content-disposition: attachment;filename=search.json
    body:
      encoding: UTF-8
      string: |
        {
          "table": {
            "columnNames": ["griddap", "Subset", "tabledap", "Make A Graph", "wms", "files", "Title", "Summary", "FGDC", "ISO 19115", "Info", "Background Info", "RSS", "Institution", "Dataset ID"],
            "columnTypes": ["String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String"],
            "rows": [
              ["", "https://erddap.marine.ie/erddap/tabledap/IWaveBNetwork.subset", "https://erddap.marine.ie/erddap/tabledap/IWaveBNetwork", "https://erddap.marine.ie/erddap/tabledap/IWaveBNetwork.graph", "", "", "Irish Wave Buoys", "Irish Wave Buoys\n\ncdm_data_type = TimeSeries\nVARIABLES:\nlongitude (degrees_east)\nlatitude (degrees_north)\ntime (Detection Time, seconds since 1970-01-01T00:00:00Z)\nstation_id\nPeakPeriod (sea_surface_wave_period_at_variance_spectral_density_maximum, s)\nP[...]
- request:
    method: get
    uri: http://www.ifremer.fr/erddap/search/index.json?searchFor=temperature
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-disposition: attachment;filename=search.json
      content-type: application/json;charset=UTF-8
      x-pad: avoid browser bug
    body:
      encoding: UTF-8
      string: |
        {
          "table": {
            "columnNames": ["griddap", "Subset", "tabledap", "Make A Graph", "wms", "files", "Title", "Summary", "FGDC", "ISO 19115", "Info", "Background Info", "RSS", "Email", "Institution", "Dataset ID"],
            "columnTypes": ["String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String"],
      [...]
