http_interactions:
- request:
    method: get
    uri: http://www.neracoos.org/erddap/search/advanced.json?searchFor=temperature&page=1&itemsPerPage=1000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-disposition: attachment;filename=AdvancedSearch.json
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "table": {
            "columnNames": ["griddap", "Subset", "tabledap", "Make A Graph", "wms", "files", "Title", "Summary", "FGDC", "ISO 19115", "Info", "Background Info", "RSS", "Institution", "Dataset ID"],
            "columnTypes": ["String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String"],
            "rows": [
              ["", "http://www.neracoos.org/erddap/tabledap/A01_met_all.subset", "http://www.neracoos.org/erddap/tabledap/A01_met_all", "http://www.neracoos.org/erddap/tabledap/A01_met_all.graph", "", "", "A01 Met - Meteorology", "Ocean observation data from the Northeastern Regional Association of Coastal &amp; Ocean Observing Systems (NERACOOS). The NERACOOS region includes the northeast United States and Canadian Maritime provinces, as part of the United States Integrated Ocean Observing S[...]
