http_interactions:
- request:
    method: get
    uri: https://upwell.pfeg.noaa.gov/erddap/info/erdQMekm14day/index.json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-disposition: attachment;filename=erdQMekm14day_info.json
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "table": {
            "columnNames": ["Row Type", "Variable Name", "Attribute Name", "Data Type", "Value"],
            "columnTypes": ["String", "String", "String", "String", "String"],
            "rows": [
              ["attribute", "NC_GLOBAL", "cdm_data_type", "String", "Grid"],
              ["attribute", "NC_GLOBAL", "contact", "String", "erd.data@noaa.gov"],
              ["attribute", "NC_GLOBAL", "Conventions", "String", "CF-1.6, COARDS, ACDD-1.3"],
              ["attribute", "NC_GLOBAL", "creation_date", "String", "Tue Jan 29 23:13:47 2019"],
              ["attribute", "NC_GLOBAL", "creator_email", "String", "erd.data@noaa.gov"],
              ["attribute", "NC_GLOBAL", "creator_name[...]
- request:
    method: get
    uri: https://upwell.pfeg.noaa.gov/erddap/tabledap/index.json?page=1&itemsPerPage=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      last-modified: Thu, 31 Jan 2019 19:31:44 GMT
      xdods-server: dods/3.7
      erddap-server: '1.82'
      content-disposition: attachment;filename=tabledap.json
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "table": {
            "columnNames": ["griddap", "Subset", "tabledap", "Make A Graph", "wms", "files", "Accessible", "Title", "Summary", "FGDC", "ISO 19115", "Info", "Background Info", "RSS", "Email", "Institution", "Dataset ID"],
            "columnTypes": ["String", "String", "String", "String", "String", "S[...]
