http_interactions:
- request:
    method: get
    uri: https://upwell.pfeg.noaa.gov/erddap/info/erdQMekm14day/index.json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-disposition: attachment;filename=erdQMekm14day_info.json
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "table": {
            "columnNames": ["Row Type", "Variable Name", "Attribute Name", "Data Type", "Value"],
            "columnTypes": ["String", "String", "String", "String", "String"],
            "rows": [
              ["attribute", "NC_GLOBAL", "cdm_data_type", "String", "Grid"],
              ["attribute", "NC_GLOBAL", "contact", "String", "erd.data@noaa.gov"],
              ["attribute", "NC_GLOBAL", "Conventions", "String", "CF-1.6, COARDS, ACDD-1.3"],
              ["attribute", "NC_GLOBAL", "creation_date", "String", "Tue Jul 14 23:13:27 2020"],
              ["attribute", "NC_GLOBAL", "creator_email", "String", "erd.data@noaa.gov"],
              ["attribute", "NC_GLOBAL", "creator_name[...]
- request:
    method: get
    uri: https://upwell.pfeg.noaa.gov/erddap/tabledap/index.json?page=1&itemsPerPage=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      last-modified: Wed, 15 Jul 2020 22:20:57 GMT
      xdods-server: dods/3.7
      erddap-server: '2.02'
      content-disposition: attachment;filename=tabledap.json
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "table": {
            "columnNames": ["griddap", "Subset", "tabledap", "Make A Graph", "wms", "files", "Accessible", "Title", "Summary", "FGDC", "ISO 19115", "Info", "Background Info", "RSS", "Email", "Institution", "Dataset ID"],
            "columnTypes": ["String", "String", "String", "String[...]
- request:
    method: get
    uri: https://upwell.pfeg.noaa.gov/erddap/griddap/erdQMekm14day.nc?mod_current[(2015-12-28):1:(2016-01-01)][(0.0):1:(0.0)][(23):1:(24)][(88):1:(90)],u_current[(2015-12-28):1:(2016-01-01)][(0.0):1:(0.0)][(23):1:(24)][(88):1:(90)],v_current[(2015-12-28):1:(2016-01-01)][(0.0):1:(0.0)][(23):1:(24)][(88):1:(90)]
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      last-modified: Wed, 15 Jul 2020 22:20:44 GMT
      xdods-server: dods/3.7
      erddap-server: '2.02'
      content-disposition: attachment;filename=erdQMekm14day_3a6f_f1d0_a65b.nc
      content-type: application/x-netcdf
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/188571c95282bcb224bb987dd83d22b7.nc
  recorded_at: 2020-07-15 22:20:44 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
