http_interactions:
- request:
    method: get
    uri: https://coastwatch.noaa.gov/erddap/info/noaacwNPPVIIRSchlaDaily/index.json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-disposition: attachment;filename=noaacwNPPVIIRSchlaDaily_info.json
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "table": {
            "columnNames": ["Row Type", "Variable Name", "Attribute Name", "Data Type", "Value"],
            "columnTypes": ["String", "String", "String", "String", "String"],
            "rows": [
              ["attribute", "NC_GLOBAL", "cdm_data_type", "String", "Grid"],
              ["attribute", "NC_GLOBAL", "Conventions", "String", "CF-1.6, COARDS, ACDD-1.3"],
              ["attribute", "NC_GLOBAL", "creator_email", "String", "coastwatch.info@noaa.gov"],
              ["attribute", "NC_GLOBAL", "creator_name", "String", "NOAA/NESDIS/STAR"],
              ["attribute", "NC_GLOBAL", "creator_url", "String", "https://coastwatch.noaa.gov"],
              ["attribute", "NC_GLOBAL", "[...]
- request:
    method: get
    uri: https://coastwatch.noaa.gov/erddap/tabledap/index.json?page=1&itemsPerPage=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      last-modified: Wed, 15 Jul 2020 22:21:20 GMT
      xdods-server: dods/3.7
      erddap-server: '1.82'
      content-disposition: attachment;filename=tabledap.json
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "table": {
            "columnNames": ["griddap", "Subset", "tabledap", "Make A Graph", "wms", "files", "Title", "Summary", "FGDC", "ISO 19115", "Info", "Background Info", "RSS", "Institution", "Dataset ID"],
            "columnTypes": ["String", "String", "String", "String", "String", "String", [...]
- request:
    method: get
    uri: https://coastwatch.noaa.gov/erddap/griddap/noaacwNPPVIIRSchlaDaily.nc?chlor_a[(2020-07-07T12:00:00Z):1:(2020-07-07T13:00:00Z)][(0):1:(0)][(31):1:(30)][(-120):1:(-119)]
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      last-modified: Wed, 15 Jul 2020 22:21:20 GMT
      xdods-server: dods/3.7
      erddap-server: '1.82'
      content-disposition: attachment;filename=noaacwNPPVIIRSchlaDaily_e3c1_44d7_221b.nc
      content-type: application/x-netcdf
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/2b34de76a216b28ab3ef759e2d9c69a8.nc
  recorded_at: 2020-07-15 22:21:22 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
