http_interactions:
- request:
    method: get
    uri: https://coastwatch.pfeg.noaa.gov/erddap/info/ncdcOisst21Agg_LonPM180/index.json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-disposition: attachment;filename=ncdcOisst21Agg_LonPM180_info.json
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "table": {
            "columnNames": ["Row Type", "Variable Name", "Attribute Name", "Data Type", "Value"],
            "columnTypes": ["String", "String", "String", "String", "String"],
            "rows": [
              ["attribute", "NC_GLOBAL", "cdm_data_type", "String", "Grid"],
              ["attribute", "NC_GLOBAL", "comment", "String", "Data was converted from NetCDF-3 to NetCDF-4 format with metadata updates in November 2017."],
              ["attribute", "NC_GLOBAL", "Conventions", "String", "CF-1.6, ACDD-1.3, COARDS"],
              ["attribute", "NC_GLOBAL", "creator_email", "String", "oisst-help@noaa.gov"],
              ["attribute", "NC_GLOBAL", "creator_name", "String", "NOAA NC[...]
- request:
    method: get
    uri: https://coastwatch.pfeg.noaa.gov/erddap/tabledap/index.json?page=1&itemsPerPage=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      last-modified: Mon, 07 Jun 2021 21:38:17 GMT
      xdods-server: dods/3.7
      erddap-server: '2.12'
      content-disposition: attachment;filename=tabledap.json
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "table": {
            "columnNames": ["griddap", "Subset", "tabledap", "Make A Graph", "wms", "files", "Accessible", "Title", "Summary", "FGDC", "ISO 19115", "Info", "Background Info", "RSS", "Email", "Institution", "Dataset ID"],
            "columnTypes": ["String", "String", "String", "String[...]
[...]
