http_interactions:
- request:
    method: get
    uri: http://erddap.marine.ie/erddap/info/IMI_CONN_2D/index.json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      content-disposition: attachment;filename=IMI_CONN_2D_info.json
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "table": {
            "columnNames": ["Row Type", "Variable Name", "Attribute Name", "Data Type", "Value"],
            "columnTypes": ["String", "String", "String", "String", "String"],
            "rows": [
              ["attribute", "NC_GLOBAL", "cdm_data_type", "String", "Grid"],
              ["attribute", "NC_GLOBAL", "Easternmost_Easting", "double", "-8.89648828124996"],
              ["attribute", "NC_GLOBAL", "geospatial_lat_max", "double", "53.72912172247213"],
              ["attribute", "NC_GLOBAL", "geospatial_lat_min", "double", "52.95089447171561"],
              ["attribute", "NC_GLOBAL", "geospatial_lat_resolution", "double", "0.0017727272226800055"],
              ["attribute", [...]
- request:
    method: get
    uri: http://erddap.marine.ie/erddap/tabledap/index.json?page=1&itemsPerPage=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      last-modified: Wed, 15 Jul 2020 20:30:02 GMT
      xdods-server: dods/3.7
      erddap-server: '1.82'
      content-disposition: attachment;filename=tabledap.json
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "table": {
            "columnNames": ["griddap", "Subset", "tabledap", "Make A Graph", "wms", "files", "Title", "Summary", "FGDC", "ISO 19115", "Info", "Background Info", "RSS", "Institution", "Dataset ID"],
            "columnTypes": ["String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "String", "[...]
